<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p>
  Hi {{client.first_name}},
</p>

<p style="margin:0">
I have received and processed your request to change your payment date.  Your monthly payments of ${{payment.amount}} will be drafted on the new date of {{payment.due}}.  Should you need anything prior to our next call on {{appointment.schedule}} do not hesitate to contact me.
</p>
<p></p>
<p style="margin:0">
Remember to keep looking for any correspondence from you creditors that mentions a version of the following phrase. &ldquo;Unless you dispute the validity of this debt within 30 days, we will assume the debt is valid&rdquo;.
</p>

<p>
Thank you,
</p>

<p><br></p>
<p ><strong>{{account_manager.full_name}}</strong></p>
<p > Account Manager</p>
<p >P: {{account_manager.phone}}  F: {{account_manager.fax}}#</p>	
<p>
	<a href="{{org.url}}"><img src="{{org.logo_url}}" /></a>
</p>

<p>
	<strong>Click </strong><a href="{{org.client_portal}}"><strong>here</strong></a><strong> to log into your client portal.</strong>
</p>
</body>
</html>
