<table style="width: 680px">
    <tr>
        <td style="text-align: center;">
            <a href="{{org.url}}"><img src="{{org.logo_url}}" alt="Elite Document Management Solutions"/></a>
        </td>
    </tr>
    <tr>
        <td>
            Hi {{client.full_name}},
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            Thank you for choosing Elite Document Management Solutions service. This is your account information to access client portal (<a href="{{org.client_portal}}">{{org.client_portal}} </a>):
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
        </td>
    </tr>
    <tr>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Thank you,
            <br />
            Sent from Elite Document Management Solutions.
            <br />
            <br />
            Customer Service Hotline: (800)560-1774
        </td>
    </tr>
</table>
