<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>15 Day Call EDMS</title>
	</head>
	<body style="font-size: 110%; padding-top: 10px; padding-left: 10px">
		<p>Hello {{client.first_name}} </p>
		<p>
			It was a pleasure speaking with you today. Please keep opening your mail, looking for the 3rd Party Collection Letters that you will be sending to me. It is very important that I receive these in a timely manner.
		</p>
		<p>
			If any questions come up please feel free to call me at any time.
		</p>
		<p><br></p>
		<p>
			Sincerely,
		</p>
		<p ><strong>{{account_manager.full_name}}</strong></p>
		<p >{{org.name}} Team</p>
		<p >P: {{account_manager.phone}}  F: {{account_manager.fax}}</p>
		<p>
			<a href="{{org.url}}"><img src="{{org.logo_url}}"/></a></p>

		<p>
			<strong>Click </strong><a href="{{org.client_portal}}"><strong>here</strong></a><strong> to log into your client portal.</strong></p>
	</body>
</html>
