<html>
	<head>
		<title></title>
	</head>
	<body>
		{% if is_via_fax %}
		<p>
			VIA FAX (<strong>{{debt.debt_collector.fax}}</strong>)
                </p>
		{% endif %}
		<p style="margin-left:1.4pt;">
			<strong>{{debt.debt_collector.name}}</strong></p>
		<p style="margin-left:1.4pt;">
			<strong>{{debt.debt_collector.address}}</strong></p>
		<p style="margin-left:1.4pt;">
			<strong>{{debt.debt_collector.state}} {{debt.debt_collector.state}}, {{debt.debt_collector.zip}}</strong></p>
		<p>
			&nbsp;</p>
		<p style="margin-left:109.4pt;">
			RE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{client.full_name}}</strong></p>
		<p style="margin-left:1.4pt;">
			Your reference/account number:&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{debt.account_number}}</strong></p>
		<p>
			&nbsp;</p>
		<p align="center">
			<strong>DEMAND THAT DEBT BE VERIFIED AND PROVED</strong></p>
		<p style="margin-left:-.75pt;">
			We hereby dispute the alleged debt upon that you are attempting to collect, and we specifically demand further information in order to determine if it is a valid, legally owed obligation. This dispute is being made because we (a) do not know if the alleged debt is valid; (b) do not know if the alleged balance is correct; and (c) do not know if the alleged balance is deceptive or illegal. This communication is also a demand for validation, as we do not know (a) anything about &lsquo;the chain of title of the account owner&rsquo;; (b) that your claim to be handling the account is valid; or (c) anything about post-transfer accounting on the account. The Fair Debt Collection Practices Act (FDCPA) provides rules regarding the rights of consumers and the obligations of collectors, for both validation and dispute issues. (See 15 USC &sect; 1692 (d) &mdash; (g).) In addition to the FDCPA, many states also have validation and dispute mechanisms which we hereby invoke.</p>
		<p style="margin-left:-.75pt;">
			This dispute and request to prove your claim is made in accordance with all available applicable laws, including but not limited to, the following federal laws: FDCPA, as noted above; the Fair Credit Reporting Act (FCRA) (15 USC &sect; 1681 <em>et seq</em>); the Fair Credit Billing Act (FCBA) (15 USC &sect; 1601 <em>et seq</em>); the Truth in Lending Act (TILA); and all mandates issued by TILA&#39;s general rule-making authority, the Consumer Financial Protection Bureau. Of course, local state law and general contract law may come into play as well.</p>
		<p style="margin-left:1.4pt;">
			Finally, we do not know if you are properly licensed to collect an alleged debt pursuant to state law or under the FDCPA, and we will require proof of such licensure.</p>
		<p>
			&nbsp;</p>
		<p style="margin-left:1.4pt;">
			Until you prove that the debt is unquestionably valid, that it is properly collectable, and that you have authority to collect the alleged debt, you must cease all collection activities including calls, letters, or derogatory reporting to credit bureaus.</p>
		<p>
			&nbsp;</p>
		<p style="margin-left:1.4pt;">
			This is not a refusal to pay; it is a legal notice that your claim is disputed for the reasons listed herein, and it is a demand for validation.</p>
		<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%; page-break-before: always"><BR></P>
		<p style="margin-left:-.05pt;">
			<strong>DEMAND</strong></p>
		<p style="margin-left:1.4pt;">
			Within thirty (30) days of your receipt of this Demand, you must provide non-hearsay material evidentiary documentation based on firsthand personal knowledge which confirms the validity, accuracy, and verifiability of everything stated, claimed, or alleged by you and which includes all of the following:</p>
		<ol>
			<li>
				A copy of the original contract with original signatures;</li>
			<li>
				Name and address of the original creditor;</li>
			<li>
				A certified copy of any judgment, if there is one;</li>
			<li>
				Identity of the claimed creditor for whom you are collecting this alleged debt, and the signature of the person making the claim, with an official declaration that the signature binds you in your official and personal capacity;</li>
			<li>
				Proof that you are licensed to collect the alleged debt, including the date of the license, the name on the license, the license number, and the name, address and telephone number of the state agency issuing the license. If no licensing is required, please indicate that fact, including the relevant statute or regulation upon which you are relying;</li>
			<li>
				A certified, true copy of a complete accounting of the sum certain amount allegedly owed and an accounting from the inception of the account of all goods and services received by me regarding the alleged debt&mdash;with corresponding monetary amounts for which we are in default of payment;</li>
			<li>
				Copies of all agreements of assignment, negotiation, transfer of rights, and the like, which verify that you are the current owner, assignee, holder, or owner of the debt &mdash; this requires you to provide the complete chain of title;</li>
			<li>
				All relative commercial instruments, contracts, and the like, which contain our bona fide signatures;</li>
			<li>
				All other documentary evidence between us and you or your Principal upon which you rely for making your claim.</li>
		</ol>
		<p style="margin-left:4.7pt;">
			If you assert that you have a security interest in any property of ours, then under UCC 9-210(a)(3), I hereby demand:</p>
		<ol>
			<li>
				A Full and complete accounting from inception;</li>
			<li>
				The sum certain amount that the amount that we allegedly owe you has increased or decreased and the accounting event that caused any such changes; &nbsp;</li>
			<li>
				Both sides of the books&mdash;both private (accounts payable) and public (accounts receivable)&mdash;pertaining to the loan and that you deem actionable;</li>
			<li>
				Certified copies of all off-balance-sheet books, records, and ledgers, private and public;</li>
			<li>
				Full disclosure of the ultimate proven source, creator, owner, origin, nature, and cause of the loan funds so as to validate and verify the source of the cash value of the loan or account;</li>
			<li>
				A certified, true copy of the underlying bona fide contract or publicly registered security agreement with proof of its validity that, at time of issuance of the Demand Notice, defines with particularity exactly who owes whom what and on what valid, verifiable, and currently viable basis;</li>
			<li>
				The exact valuable consideration provided by and between the respective borrowing/lending parties that the original alleged contract concerns;</li>
			<li>
				A full accounting of each and every sale, hypothecation, conveyance, transfer, pooling and servicing, securitization, special purpose vehicle, and derivative applicable to or deriving from the alleged loan/debt, from origin of the alleged debt and throughout the complete chain of title from inception to current state of affairs;</li>
			<li>
				Copies of any IRS forms executed concerning the loan from inception to the present time;</li>
			<li>
				The full legal identity and all contact information necessary and sufficient to contact the current owner of any proven debt involving this instant matter. If you fail to provide this information, you thereby stipulate to the non-existence of any valid and enforceable loan, debt, contract, or right of collection on the basis of which Claimant may validly engage in any collection, enforcement or other action involving this instant matter.</li>
		</ol>
		<p>
			Under the <em>Credit Card Act of 2009</em>, if there is an interest rate change, you must give us, the consumer, notice of that change, and give me an opportunity to &ldquo;opt out&rdquo;. &nbsp;If you did have an interest rate change in the past 2 years, please provide copies of the notices of the change and the opt-out language required under this Act.</p>
		<p style="margin-left:1.4pt;">
			Pursuant to this demand, it is expected that you shall either: (1) notify us that the claim is withdrawn, and that all references are removed from your records; OR (2) Provide a full and complete response to this Demand. If no response is received within 30 days, or if no request for an extension of time is received within 30 days, <em><u>such silence will be construed as an acknowledgement that no legitimate debt exists.</u></em></p>
		<p>
			&nbsp;</p>
		<p style="margin-left:1.4pt;">
			Do not call us for any reason. &nbsp;Do not contact us in writing, directly or indirectly, in any manner whatsoever, unless your writing is a written response to this dispute under applicable law, such as the FCRA, or unless you are validating this debt per our above requests. Unless and until the debt is validated, you are reminded that, under the FDCPA, you shall neither provide any credit reporting agency with any derogatory information, nor shall you file a lawsuit against us.</p>
		<p style="margin-left:1.4pt;">
			You are required to update the Credit Reporting Agencies (CRAs) with the information that the alleged debt connected to this account is disputed per the FDCPA, 15 U.S.C. &sect; 1692e(8), which states:</p>
		<p style="margin-left:4.9pt;">
			Communicating or threatening to communicate to any person, credit information which is known or which should be known to be false, <u>including the failure to communicate that a disputed debt is disputed</u>, is a violation of &sect; 1692(e).</p>
		<p style="margin-left:1.4pt;">
			You are also required to update or report to the CRAs per the FCRA, &sect; 162(b), which states:</p>
		<p style="margin-left:4.9pt;">
			If a creditor receives a further written notice from an obligor that an amount is still in dispute within the time allowed for payment under subsection (a) of this section, a creditor may not report to any third party that the amount of the obligor is delinquent because the obligor has failed to pay an amount which he has indicated under section 161(a) (2), unless the creditor also reports that the amount is in dispute and, at the same time, notifies the obligor of the name and address of each party to whom the creditor is reporting information concerning the delinquency.&nbsp; &nbsp;</p>
		<p>
			&nbsp;</p>
		<p>
			Respond to the following party by Certified Mail only, including all required documents, within thirty (30) days of receipt of this facsimile.</p>
		<p>
			&nbsp; &nbsp;</p>
		<p>
			&nbsp;</p>
		<p>
			C/O:</p>
		<p>
			<strong>{{client.full_name}}</strong></p>
                </p>
			<strong>{{client.address}}</strong></p>
		<p>
			<strong>{{client.city}}, {{client.state}} {{client.zip}}</strong></p>
		<p>
			&nbsp;</p>
		<p>
			&nbsp;</p>
	</body>
</html>
