<html>
	<head>
		<title></title>
	</head>
	<body>
                {% if is_via_fax %}
                <p>
                        VIA FAX (<strong>{{debt.debt_collector.fax}}</strong>)
                </p>
                {% endif %}
		<p style="margin-left:1.4pt;">
			<strong>{{debt.debt_collector.name}}</strong></p>
		<p style="margin-left:1.4pt;">
			<strong>{{debt.debt_collector.address}}</strong></p>
		<p style="margin-left:1.4pt;">
			<strong>{{debt.debt_collector.city}}, {{debt.debt_collector.state}} {{debt.debt_collector.zip}}</strong></p>
		<p>
			&nbsp;</p>
		<p style="margin-left:109.4pt;">
			RE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{client.first_name}} {{client.last_name}}</strong></p>
		<p style="margin-left:1.4pt;">
			Your reference/account number:&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{debt.account_number}}#</strong></p>
		<p style="margin-left:1.4pt;">
			Date: &nbsp;<strong>{{date_now}}</strong>&nbsp; &nbsp;&nbsp;</p>
		<p style="margin-left:1.4pt;">
			Your reference/account number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{debt.collector_ref_no}}#</strong></p>
		<p>
			&nbsp;</p>
		<h4 style="text-align: center;">
			<strong>SECOND NOTICE OF INSUFFICIENT RESPONSE</strong></h4>
		<p align="left">
			In response to our NOTICE OF INSUFFICIENT RESPONSE, you have indicated that you have done what you are required.</p>
		<p>
			Your response was woefully inadequate. &nbsp;As stated previously, your claim will be accepted as valid and binding only upon receipt of a certified proof of a valid, legally binding obligation legitimately owed by us, that is without fraud, and without deceptive billing practices or misrepresentations.</p>
		<p>
			Again, we need proof of debt and a full accounting. &nbsp;Please refer to our original REQUEST and subsequent NOTICE OF INSUFFICIENT RESPONSE for the full request.</p>
		<p>
			We expect a written response within 10 days from your receipt of this letter to return the documentation requested, and proof of the debt. &nbsp;Failure to provide the documents will be treated as a waiver of all claims that you might have, and an acknowledgement that there may be violations of consumer protection laws. &nbsp;</p>
		<p style="margin-left:4.7pt;">
			&nbsp;</p>
		<p style="margin-left:1.4pt;">
			&nbsp;</p>
		<p style="margin-left:1.4pt;">
			Sincerely,</p>
		<p style="margin-left:1.4pt;">
			&nbsp;</p>
		<p style="margin-left:1.4pt;">
			&nbsp; &nbsp;</p>
		<p>
			C/O:</p>
		<p>
                        <strong>{{client.first_name}} {{client.last_name}}</strong></p>
		<p>
                        <strong>{{client.address}}</strong></p>
		<p>
                        <strong>{{client.city}}, {{client.state}} {{client.zip}}</strong></p>

	</body>
</html>

