<html>
<head>
	<title></title>
</head>
<body>

<p><strong>&nbsp;{{collector.name}}</strong></p>

<p style="margin-left:1.4pt;"><strong>{{collector.address}}</strong></p>

<p style="margin-left:1.4pt;"><strong>{{collector.city}}, {{collector.state}} {{collector.zip_code}}</strong></p>

<p style="margin-left:1.4pt;">&nbsp;</p>

<p style="margin-left:109.4pt;">&nbsp; &nbsp; &nbsp; &nbsp;RE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{client.first_name}} {{client.last_name}}</strong></p>

<p style="margin-left:4.7pt;">Your reference/account number:&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{debt.account_number}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;</p>

<p style="margin-left:1.4pt;">Your reference/account number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{debt.collector_ref_no}}</strong></p>
		<p>
			&nbsp;</p>
<h4 style="text-align: center;">
			<strong>NOTICE OF FAILURE TO RESPOND</strong></h4>

<p style="margin-left:.85pt;">On <strong>{{p1_receipt_date}}</strong>, I sent you a letter and <em>Demand the Debt be Verified and Proved</em> via fax. I have attached a copy of that letter and a copy of the proof of successful fax transmission.</p>

<p style="margin-left:.85pt;">That letter demanded a response within 30 days, including the ability to ask for additional time to comply. My correspondence made it clear that ignoring that request, made under a variety of laws, would deem the debt invalid. Because you chose not to respond, I now deem the debt to be invalid.</p>

<p style="margin-left:.85pt;">Accordingly, if you have reported anything to a credit reporting agency, please remove any negative or derogatory remarks immediately.</p>

<p style="margin-left:1.4pt;"><strong>As a courtesy, I am alerting you to the fact that <u>I have received nothing from you.</u>&nbsp; </strong></p>

<p style="margin-left:1.4pt;">&nbsp;</p>

<p style="margin-left:1.4pt;">I urge you to send your response in a trackable way such as certified mail or fax.</p>

<p style="margin-left:1.4pt;">&nbsp;</p>

<p style="margin-left:1.4pt;">Sincerely,</p>

<p style="margin-left:1.4pt;">&nbsp;</p>

<p style="margin-left:1.4pt;">&nbsp; &nbsp;</p>

<p style="margin-left:1.4pt;">&nbsp;</p>

<p style="margin-left:1.4pt;">C/O:</p>

<p align="left"><strong>{{client.first_name}}{{client.last_name}}</strong></p>

<p><strong>{{client_address}}</strong></p>

<p><strong>{{client_city}}, {{client_state}} {{client_zip}}</strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>
</body>
</html>
